/Proyectos_Neatbeans/JavaApplication1/nbproject/private/
/Proyectos_Neatbeans/JavaApplication1/build/
/Proyectos_Neatbeans/crear archivo y mover/nbproject/private/
/Proyectos_Neatbeans/crear archivo y mover/build/
/Proyectos_Neatbeans/Acceso a datos/New Folder/EjerEjemplo/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/New Folder/EjerEjemplo/build/
/Proyectos_Neatbeans/Acceso a datos/Tema1/EjerEjemplo2/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/EjerEjemplo2/build/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Actividad1/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/EjerEjemplo/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Recorrer_Letra_h/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Recorrer_Letra_h/build/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Crear_y_Mover_directorios/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Crear_y_Mover_directorios/build/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Prueba_fielinpu/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Copiar datos de un archivo/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Copiar datos de un archivo/build/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Ejemplo_Hilos/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/leer_archivos/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Leer_Archivo/nbproject/private/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Leer_Archivo/build/
/Proyectos_Neatbeans/Acceso a datos/Tema1/Procesos/nbproject/private/
